// css全局变量 已在vite中引入 可直接使用
:root {
	// Color Palette
	--tem-black: #000;
	--tem-white: #fff;
	--tem-radius: 8px;
	--tem-text-color-1: #333333;
	--tem-text-color-2: #666666;
	--tem-gray-1: #f7f8fa;
	--tem-gray-2: #f2f3f5;
	--tem-gray-3: #ebedf0;
	--tem-gray-4: #dcdee0;
	--tem-gray-5: #c8c9cc;
	--tem-gray-6: #969799;
	--tem-gray-7: #646566;
	--tem-gray-8: #323233;
	--tem-gray-bg: #F3F5F9;
	--tem-red: #FF6E6E;
	--tem-blue: #5A53F5;
	--tem-blue-edu: #316EB7;
	--tem-orange: #FFA700;
	--tem-green: #28CE3E;
	}
	
	// 全局颜色定义
	$colorBlack: var(--tem-black);
	$colorWhite: var(--tem-white);
	$textColor1: var(--tem-text-color-1);
	$textColor2: var(--tem-text-color-2);
	$colorGray1: var(--tem-gray-1);
	$colorGray2: var(--tem-gray-2);
	$colorGray3: var(--tem-gray-3);
	$colorGray4: var(--tem-gray-4);
	$colorGray5: var(--tem-gray-5);
	$colorGray6: var(--tem-gray-6);
	$colorGray7: var(--tem-gray-7);
	$colorGray8: var(--tem-gray-8);
	$colorGrayBg: var(--tem-gray-bg);
	$colorRed: var(--tem-red);
	$colorBlue: var(--tem-blue);
	$colorBlueEdu: var(--tem-blue-edu);
	$colorOrange: var(--tem-orange);
	$colorGreen: var(--tem-green);
	
	// 全局文字大小行高定义
	// 小标题
	.text-sub-title {
		font-size: 18px;
		line-height: 30px;
		&-b {
			font-weight: bold;
		}
	}
	// 小标题/正文
	.text-body1 {
		font-size: 16px;
		line-height: 24px;
		&-b {
			font-weight: bold;
		}
	}
	// 正文2
	.text-body2 {
		font-size: 14px;
		line-height: 20px;
		&-b {
			font-weight: bold;
		}
	}
	// 解释说明1
	.text-des1 {
		font-size: 12px;
		line-height: 18px;
		&-b {
			font-weight: bold;
		}
	}
	// 解释说明2
	.text-des2 {
		font-size: 10px;
		line-height: 16px;
		&-b {
			font-weight: bold;
		}
	}
	
	// 全局圆角定义
	$temBorderRadius: var(--tem-radius);
